<launch>
    <node name="Cam" pkg="Pami" type="singlecampublisher.py" output="screen" />
 
    <node name="Terrain" pkg="Pami" type="Terrain.py" output="screen" />

    

    <!-- Launch followPath node -->
    <node name="PamiPosition" pkg="Pami" type="PamiPosition.py" output="screen" />
    
</launch>

